<div class="container">
  <h1>Login Form</h1>
  <form #loginForm = "ngForm" (ngSubmit) = "login(loginForm.value)">

    <label>User ID</label>
    <input type="text" class="form-control" id="userId" required name="userId" ngModel>
    <label>Password</label>
    <input type="password" class="form-control" id="pwd" name="pwd" ngModel required>
    <br>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>