<div id="search-component">
  <h4>Student Search</h4>
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
  <div>
    <div *ngFor="let student of students | async"
         (click)="gotoDetail(hero)" class="search-result" >
      {{student.name}}
    </div>
  </div>
</div>