<div class="container">
    <h1>Student Details</h1>
    <form #searchForm="ngForm" (ngSubmit)="searchStudent(searchForm.value)">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="search-box">
                    <input type="text" name="search" placeholder="name.." class="form-control" ngModel>
                    <button type="submit" class="btn btn-primary ">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div class="student-form">
        
        <form #studentForm="ngForm" (ngSubmit)="saveStudent(studentForm.value)" novalidate>
            <div class="form-group">
                <label>Student name</label>
                <input type="text" class="form-control"  name="name" #nameRef = "ngModel" [(ngModel)]="name" required>
                <div [hidden]="nameRef.valid || nameRef.pristine" class="alert alert-danger">
                    Name is required
                </div>
            </div>
            <div class="form-group">
                <label>Marks</label> 
                <input type="text" class="form-control" id="marks" required name="marks" [(ngModel)]="marks"  #marksRef = "ngModel">
                <div [hidden]="marksRef.valid || marksRef.pristine" class="alert alert-danger">
                    Marks  required
                </div>
                <input type="hidden" class="form-control" id="id"  name="id" [(ngModel)]="id">
            </div>
                <br>

            <button [disabled] = "!studentForm.form.valid" type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
            
        </form>
        
    </div>
    <br>
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Marks</th>
            <th>Delete/Edit</th>
        </tr>
        <tr *ngFor=" let student of students">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.marks}}</td>
            <td>
                <button (click)="onDelete(student)" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button (click)="onUpdate(student)" type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
        </tr>
    </table>
</div>
<student-search></student-search>